[Unit]
Description="NodeJS SQL System Call Logger"

[Service]
Type=idle
Restart=always
RestartPreventExitStatus=0
ExecStart=/usr/local/bin/node /root/node-extrace/index.js
RestartSec=15s
# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

# SIGTERM signal is used to stop the Java process
KillSignal=SIGTERM



[Install]
WantedBy=multi-user.target
